{% extends '_main.jinja' %}

{% block title %} My first project {% endblock %}

{% block main %}

Cupcake ipsum dolor sit amet.
Jelly-o tart pudding ice cream donut.
Chocolate bar caramels lemon drops.
Bonbon tiramisu marzipan cupcake dessert chocolate cake fruitcake I love chupa chups.
Sugar plum jujubes sugar plum marshmallow I love gummies sesame snaps icing I love.
Bonbon gingerbread apple pie halvah I love. Chupa chups jelly-o wafer sesame snaps
I love caramels cake.

 {% endblock %}
